{# You can attach a library with attach_library function #}
{{ attach_library('ultimate_block_guide/css_lib') }}
<p class="custom">This text is styled by the custom.css library attached to the twig template rendering this block.</p>
